<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DL | Files</title>
    <script>
        function sendLikeDislikeRequest(fileId, type) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/leaks/like-dislike", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    // Update the UI with the updated like/dislike count
                    var element = document.getElementById(fileId + "-" + type + "-count");
                    if (element) {
                        element.textContent = response.count;
                    }
                }
            };
            xhr.send(JSON.stringify({
                fileId: fileId,
                action: type
            }));
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    {{ template "header" }}
    {{ template "fileListStyle" }}
    {{range .}}
    <div class="file-item">
        <p class="file-name">{{.File.Name}}</p>
        <p class="file-description">{{.File.Description}}</p>
        <p class="file-size">Size: {{printf "%.2f" (.File.Size)}} MB</p>
        <p class="user-info">
            <span id="{{.File.Id}}-like" onclick="sendLikeDislikeRequest('{{.File.Id}}', 'like')" class="like-dislike">
                <i class="fas fa-thumbs-up like-symbol"></i>
                <span id="{{.File.Id}}-like-count">{{.UserData.Likes}}</span>
            </span>
            <span id="{{.File.Id}}-dislike" onclick="sendLikeDislikeRequest('{{.File.Id}}', 'dislike')"
                class="like-dislike">
                <i class="fas fa-thumbs-down dislike-symbol"></i>
                <span id="{{.File.Id}}-dislike-count">{{.UserData.Dislikes}}</span>
            </span>
        </p>
        <a href="/leaks/download/{{.File.Id}}" class="download-button">Скачати</a>
    </div>
    {{end}}
</body>

</html>