{{ define "header" }}
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #eef0f1;
        padding-top: 60px;
    }

    .header {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #45668e;
        color: #fff;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        padding-left: 10px;
        padding-right: 10px;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    .logo {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .logo a {
        color: #fff;
        text-decoration: none;
    }

    .logo a:hover {
        color: #fff;
    }

    .logo span {
        margin-left: 5px;
    }

    .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .menu ul li {
        margin-left: 10px;
    }

    .menu ul li:last-child {
        margin-left: 10px;
        margin-right: 25px;
    }

    .menu ul li:first-child {
        margin-left: 0;
    }

    .menu ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        padding: 10px;
        border-radius: 10px;
        transition: background-color 0.3s, color 0.3s;
    }

    .menu ul li a:hover {
        background-color: #fff;
        color: #45668e;
    }


    a {
        color: #fff;
    }

    .menu ul li.active a {
        background-color: #fff;
        color: #45668e;
    }
</style>

<div class="header">
    <div class="logo">
        <a href="/leaks">DL</a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="/leaks/upload-files">Загрузити файли</a></li>
            <li><a href="/leaks/get-files">Скачати файли</a></li>
            <li><a href="/leaks/my-files">Мої файли</a></li>
            <li><a href="/user/logOut">Вийти</a></li>
        </ul>
    </div>
</div>
{{ end }}