<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Користувацькі угоди</title>
</head>

<body>
    <h1>Користувацькі угоди</h1>
    <p>Ці Користувацькі угоди визначають умови використання веб-сайту.</p>
    <p><strong>Дата прийняття: 11.06.2023</strong></p>

    <h2>1. Прийняття умов</h2>
    <p>1.1. З використанням цього веб-сайту Ви погоджуєтесь з усіма умовами, наведеними в цих Користувацьких угодах.</p>
    <p>1.2. Якщо Ви не згодні з будь-якою частиною цих угод, Ви повинні припинити використання веб-сайту.</p>

    <h2>2. Обмеження відповідальності</h2>
    <p>2.1. Ми не несемо відповідальності за будь-які збитки або втрати, що виникають внаслідок використання цього
        веб-сайту або залежності від наданої інформації.</p>
    <p>2.2. Ви самостійно несете відповідальність за будь-які рішення, прийняті на основі інформації, знайденої на цьому
        веб-сайті.</p>

    <h2>3. Інтелектуальна власність</h2>
    <p>3.1. Ми поважаємо інтелектуальну власність кожної людини. Ми вважаємо неприйнятним поширення чужої
        інтелектуальної власності.</p>
    <p>3.2. Ви зобов'язані дотримуватись усіх обмежень, пов'язаних з інтелектуальною власністю, які застосовуються до
        цього веб-сайту.</p>
    <p>3.3 У разі порушення інтелектуальної власності,ми зобовʼязуємось, видалити неприйнятний контент. Ви
        зобов'язуєтесь відповідати за це, згідно з законодавством України.</p>

    <h2>4. Заборона використання</h2>
    <p>4.1. Забороняється завантажувати, поширювати або розміщувати на цьому веб-сайті будь-який контент, який є
        незаконним, образливим, шкідливим або порушує права третіх осіб.</p>
    <p>4.2. Ми залишаємо за собою право видаляти будь-який контент, який порушує ці угоди або якщо інтелектуальний
        власник, або копметентний орган, попросить видалити неприйнятний контент</p>

    <h2>5. Анонімність використання</h2>
    <p>5.1. Ми гарантуємо анонімність поширення вашого контенту.</p>
    <p>5.2. Якщо розміщений Вами контент, не відповідає Користувацьким угодам, лише компетентний орган, зможе отримати
        інформацію, про поширений контент.</p>

    <h2>6. Зміни до угод</h2>
    <p>6.1. Ми можемо змінювати ці Користувацькі угоди час від часу за нашим власним розсудом.</p>
    <p>6.2. Будь-які зміни до угод набувають чинності з моменту їх розміщення на цьому веб-сайті.</p>

    <h2>7. Заключні положення</h2>
    <p>7.1. Ці Користувацькі угоди підлягають законодавству України</p>
    <p>7.2. Якщо будь-яка частина цих угод визнається недійсною або невиконуваною, це не вплине на застосування інших
        положень цих угод.</p>
</body>

</html>